* {
  box-sizing: border-box;
}
.container {
  border: 4px solid lightgrey;
  padding: 24px 24px 0px 24px;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.box {
  border: 2px solid lightgrey;
  margin-bottom: 24px;
}
.big-box {
  width: 48%;
}
.box-wrap {
  width: 48%;
}
.long-box {
  height: 50px;
}
